**/.settings/
**/.project
**/.cproject
**/.metadata/*
**/.vscode/*
*.o
main
MatDivSubEpi2OrdenatCOORD.txt
MatDivX1COORD.txt
MatProdSubEpi2OrdenatCOORD.txt
MatProdX1COORD.txt
ResCompMatDivSubEpi2Ordenat.txt
ResCompMatDivX1.txt
ResCompMatProdSubEpi2Ordenat.txt
ResCompMatProdX1.txt
ResCompVectProdX1.txt
ResComparaSubEpi2Ordenat.txt
ResComparaX1.txt
ResSubEpi2OrdenatCOORD.txt
ResX1COORD.txt
VectProdX1COORD.txt
ResCompVectProdSubEpi2Ordenat.txt
VectProdSubEpi2OrdenatCOORD.txt
MatDivEpiOrdenatCOORD.txt
MatProdEpiOrdenatCOORD.txt
ResCompEpiOrdenat.txt
ResCompMatDivEpiOrdenat.txt
ResCompMatProdEpiOrdenat.txt
ResCompVectProdEpiOrdenat.txt
ResEpiOrdenatCOORD.txt
VectProdEpiOrdenatCOORD.txt
Tree/*
**/.idea/*
0AXarxaCom.txt
0AXarxaComCOMP.txt
0DeltaQXarxaCom.txt
0DeltaQXarxaComCOMP.txt
0HXarxaCom.txt
0HXarxaComCOMP.txt
0IndexComsXarxaCom.txt
0IndexComsXarxaComCOMP.txt
0KXarxaCom.txt
0KXarxaComCOMP.txt
0AZackary.txt
0AZackaryCOMP.txt
0COMXarxaCom.txt
0COMXarxaComComp.txt
0DeltaQZackary.txt
0DeltaQZackaryCOMP.txt
0HZackary.txt
0HZackaryCOMP.txt
0IndexComsZackary.txt
0IndexComsZackaryCOMP.txt
0KZackary.txt
0KZackaryCOMP.txt
